.ml-comment-list {
  li {
    border-bottom: 1px solid $grey;
    padding: 0 0 10px;
  }

  li:last-child {
    border-bottom: 0;
  }

  &__comment {
    margin: 10px 0;

    h3 {
      display: inline-block;
      font-size: 15px;
      font-weight: bold;
      margin: 2px 5px 2px 0;
    }

    time {
      color: $secondary-font-color;
      display: inline-block;
      font-size: 11px;
    }

    p {
      padding: 8px 0 8px 25px;
    }
  }

  &_comment--question {
    h3 {
      color: #2196F3;
    }

    p {
      background-color: #E3F2FD;
    }
  }

  &_comment--reply {

    h3 {
      color: #4CAF50;
    }

    p {
      background-color: #E8F5E9;
    }
  }
}
