.ml-product {
  background-color: #ececec;
  padding: 40px 0 40px 20vw; //solo para mejor presentacion

  h1 {
    font-size: 3.3em;
    line-height: 1;
    padding-bottom: 20px;
  }

  @media screen and (max-width: $responsive-breakpoint-large) {
    padding: 40px 0 40px 8vw; //solo para mejor presentacion
  }

  @media screen and (max-width: $responsive-breakpoint-small) {
    padding: 40px 0 40px 3vw; //solo para mejor presentacion
  }

  &__info {
    position: relative;
  }

  &__info-image {
    background-color: $white;
    border: 1px solid $grey;
    display: inline-block;
    max-width: 450px;
    min-height: 500px;
    overflow: hidden;
    position: relative;
    width: 96%;

    a {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__info-payment {
    display: inline-block;
    padding: 0 0 0 50px;
    text-align: left;
    vertical-align: top;

    fieldset:first-child {
      padding: 0;
    }

    label {
      font-size: 1.1em;
      font-weight: bold;
      max-width: 70px;
      text-align: left;
    }

    select {
      border-radius: 3px;
      padding: 3px;
    }

    @media screen and (max-width: $responsive-breakpoint-medium) {
      padding: 0;
    }
  }

  &__info-carousel {
    max-width: 430px;
    padding: 60px 0 0;

    h1 {
      font-size: 20px;
      margin: 0;
      padding-bottom: 10px;
    }

    @media screen and (max-width: $responsive-breakpoint-small) {
      max-width: 310px;
      padding: 15px 0 0;
    }
  }
}

.ml-carousel {
  &__item-title {
    font-size: 13px;
    margin: 5px 0 0;
  }
}

.ml-price {
  font-size: 3.2em;
  padding: 20px 0 35px;
}

.buy-btn {
  margin-top: 10px;
}
