.ml-interaction {
  margin: 0 50px 80px 0;
  max-width: 900px;
  padding: 40px 0 40px 20vw; //solo para mejor presentacion

  @media screen and (max-width: $responsive-breakpoint-large) {
    padding: 0 0 0 8vw; //solo para mejor presentacion
  }

  @media screen and (max-width: $responsive-breakpoint-small) {
    margin: 0 10px 80px 0;
    padding: 0 0 0 3vw; //solo para mejor presentacion

    .ml-note {
      visibility: hidden;
    }
  }
}

.ml-interaction-tabpanel {
  position: relative;

  li:last-child &__label {
    left: 183px;
  }

  @media screen and (max-width: $responsive-breakpoint-small) {
    position: relative;

    li {
      margin: 30px 0;
    }

    li:last-child &__label {
      left: 0;
    }

    li:first-child {
      margin: 0 0 30px;
    }
  }

  &__label {
    background-color: #dcdcdc;
    border-radius: 3px 3px 0 0;
    box-sizing: border-box;
    color: $primary-font-color;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
    padding: 7px 20px;
    position: absolute;
    top: 0;
    z-index: 1;

    @media screen and (max-width: $responsive-breakpoint-small) {
      cursor: auto;
      position: relative;
      z-index: 3;
    }

  }

  &__tab-content {
    background-color: $white;
    border: 1px solid solid $border-color;
    box-shadow: 0 1px 3px $card-umbra-color, 0 1px 2px $card-penumbra-color;
    display: none;
    left: 0;
    padding: 20px;
    position: relative;
    top: 34px;
    z-index: 2;

    @media screen and (max-width: $responsive-breakpoint-small) {
      display: block !important;
      padding: 15px;
      top: 3px;
    }
  }

}

.ml-radio-label {
  &:checked ~ .ml-interaction-tabpanel__label {
    background-color: $white;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    border-top: 1px solid $border-color;
    box-shadow: -2px -1px 1px $tab-umbra-color, 2px 0 1px $tab-penumbra-color;
    z-index: 3;

    @media screen and (max-width: 480px) {
      display: none;
    }
  }

  &:checked ~ .ml-interaction-tabpanel__tab-content {
    display: block;
  }

  &:focus ~ .ml-interaction-tabpanel__label {
    border-top: 2px solid #FDD835;
    padding: 6.5px 20px;
  }
}
