$white: #fff;
$grey: #ddd;
$primary-font-color: #212121;
$secondary-font-color: #9e9e9e;
$responsive-breakpoint-large: 1280px;
$responsive-breakpoint-medium: 950px;
$responsive-breakpoint-small: 480px;
$border-color: rgba(158, 158, 158 , .5);
$tab-umbra-color: rgba(0, 0, 0, .1);
$tab-penumbra-color: rgba(0, 0, 0, .05);
$card-umbra-color: rgba(0, 0, 0, .12);
$card-penumbra-color: rgba(0, 0, 0, .24);
