<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7 ie6"> <![endif]-->
<!--[if IE 7]>	<html class="no-js  lt-ie10 lt-ie9 lt-ie8 ie7"> <![endif]-->
<!--[if IE 8]>	<html class="no-js lt-ie10 lt-ie9 ie8"> <![endif]-->
<!--[if IE 9]>	<html class="no-js lt-ie10 ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<title>ML frontend test</title>
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- build:[href] ./styles/ -->
	<link rel="stylesheet" href="../../dist/styles/main.min.css"/>
	<!-- /build -->
</head>
<body>
<div itemscope itemtype="http://schema.org/Product">
	<h1 class="ml-hidden">Product</h1>
	<section class="ml-product">
		<h1 itemprop="name">Ipad Mini Apple 16Gb Wifi Led 7.9</h1>
		<div class="ml-product__info">
			<figure class="ml-product__info-image" tabindex="0">
				<!-- build:[href] ./static/img/ -->
				<a id="zoom-default" class="zoom" href="../../dist/static/img/ipad-big.jpg" target="_blank">
				<!-- /build -->
				<!-- build:[src] ./static/img/ -->
    				<img src="../../dist/static/img/ipad-medium.jpg" alt="Ipad Mini Apple 16Gb Wifi Led 7.9. Price $ 4.799 and 0.99" itemprop="image"/>
				</a>
				<!-- /build -->
			</figure>
			<div class="ml-product__info-payment">
				<form id="productInfo" class="ch-form">
					<fieldset>
						<div class="ch-form-row">
							<legend class="ml-hidden">Precio</legend>
							<strong>
								<span itemprop="priceCurrency" content="USD" class="ml-price ch-price">$</span> 
					        	<span itemprop="price" content="4799.99" class="ml-price ch-price">4.799<sup>99</sup></span>
							</strong>
						</div>
					</fieldset>
					<fieldset>
						<div class="ch-form-row">
							<label for="quantity">Quantity</label>
							<select id="quantity">
							  <option value="1">1</option>
							  <option value="2">2</option>
							  <option value="3">3</option>
							  <option value="4">4</option>
							</select>
						</div>
						<div class="ch-form-row">
							<label for="payments">Payments</label>
							<select id="payments">
							  <option value="1">1</option>
							  <option value="3">3</option>
							  <option value="6">6</option>
							  <option value="12" selected>12</option>
							</select>
						</div>
					</fieldset>
					<input 	type="submit"
							title="Comprar Ipad Mini Apple 16Gb Wifi Led 7.9"
							form="productInfo"
							value = "Buy"
							class="buy-btn ch-btn ch-btn-large">
				</form>
				<p class="ml-note ml-note--medium"><i class="ch-icon-info-sign"></i> Mercadolibre isn't the owner of this product.</p>
				<article class="ml-product__info-carousel">
					<h1>More products like this</h1>
					<div class="ml-carousel ch-carousel" id="carousel">
					    <ul>
					    	<!-- build:[src] ./static/img/ -->
					        <li itemscope itemtype="http://schema.org/Offer" itemprop="offers">
					        	<img src="../../dist/static/img/suggested-1.png" itemprop="image">
					        	<h3 class="ml-carousel__item-title"><a href="#" itemprop="url">Ipad mini case</a></h3>
					        	<p class="ml-carousel__item-price">
					        		<span class="ch-price" itemprop="priceCurrency" content="USD">$</span> 
					        		<span class="ch-price" itemprop="price" content="80.00">80<sup>00</sup></span>
					        	</p>
					        </li>
					        <li itemscope itemtype="http://schema.org/Offer" itemprop="offers">
						        <img src="../../dist/static/img/suggested-2.png" itemprop="image">
						        <h3 class="ml-carousel__item-title"><a href="#" itemprop="url">Digitalizer Ipad</a></h3>
						        <p class="ml-carousel__item-price">
					        		<span class="ch-price" itemprop="priceCurrency" content="USD">$</span> 
					        		<span class="ch-price" itemprop="price" content="604.00">604<sup>00</sup></span>
					        	</p>
					        </li>
					        <li itemscope itemtype="http://schema.org/Offer" itemprop="offers">
					        	<img src="../../dist/static/img/suggested-3.png" itemprop="image">
					        	<h3 class="ml-carousel__item-title"><a href="#" itemprop="url">Ipad pro 64gb</a></h3>
					        	<p class="ml-carousel__item-price">
					        		<span class="ch-price" itemprop="priceCurrency" content="USD">$</span> 
					        		<span class="ch-price" itemprop="price" content="5548.00">5.548<sup>00</sup></span>
					        	</p>
					        </li>
					        <li itemscope itemtype="http://schema.org/Offer" itemprop="offers">
					        	<img src="../../dist/static/img/suggested-2.png" itemprop="image">
						        <h3 class="ml-carousel__item-title"><a href="#" itemprop="url">Digitalizer Ipad</a></h3>
					        	<p class="ml-carousel__item-price">
					        		<span class="ch-price" itemprop="priceCurrency" content="USD">$</span> 
					        		<span class="ch-price" itemprop="price" content="604.00">604<sup>00</sup></span>
					        	</p>
					        </li>
					        <li itemscope itemtype="http://schema.org/Offer" itemprop="offers">
					        	<img src="../../dist/static/img/suggested-3.png" itemprop="image">
					        	<h3 class="ml-carousel__item-title"><a href="#" itemprop="url">Ipad pro 64gb</a></h3>
					        	<p class="ml-carousel__item-price">
					        		<span class="ch-price" itemprop="priceCurrency" content="USD">$</span> 
					        		<span class="ch-price" itemprop="price" content="5548.00">5.548<sup>00</sup></span>
					        	</p>
					        </li>
					        <li itemscope itemtype="http://schema.org/Offer" itemprop="offers">
					        	<img src="../../dist/static/img/suggested-1.png" itemprop="image">
						        <h3 class="ml-carousel__item-title"><a href="#" itemprop="url">Ipad mini case</a></h3>
					        	<p class="ml-carousel__item-price">
					        		<span class="ch-price" itemprop="priceCurrency" content="USD">$</span> 
					        		<span class="ch-price" itemprop="price" content="80.00">80<sup>00</sup></span>
					        	</p>
					        </li>
					        <!-- /build -->
					    </ul>
					</div>
				</article>
			</div>
		</div>
	</section>
	<section class="ml-interaction">
		<h1 class="ml-hidden">Product description and questions tabs.</h1>
		<p class="ml-note ml-note--small">*Keyboard users: after the first tab gain focus navigate between tabs with arrow keys</p>
		<ul class="ml-interaction-tabpanel" role="tablist">
        	<li>
        		<input type="radio" name="tabs" id="tab1" class="ml-radio-label ml-hidden" aria-labelledby="label1" aria-controls="tab-content1" role="tab" checked>
	            <label for="tab1" class="ml-interaction-tabpanel__label" id="label1">Product description</label>
	            <div id="tab-content1" class="ml-interaction-tabpanel__tab-content" aria-labelledby="label1" role="tabpanel">
	            <section>
	            	<h1 class="ml-hidden">Description</h1>
	                <p>
	                	<span itemprop="description">
		                	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		                	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		                	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		                	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		                	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		                	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	                	</span>
	                </p>
	            </section>
	            </div>
        	</li>
        	<li>
        		<input type="radio" name="tabs" id="tab2" class="ml-radio-label ml-hidden" aria-labelledby="label2" aria-controls="tab-content2" role="tab">
	            <label for="tab2" class="ml-interaction-tabpanel__label" id="label2">Questions</label>
	            <div id="tab-content2" class="ml-interaction-tabpanel__tab-content" aria-labelledby="label2" role="tabpanel">
	            <section>
	            	<h1 class="ml-hidden">Comments</h1>
	                <ul class="ml-comment-list">
	                	<li>
	                		<article class="ml-comment-list__comment ml-comment-list_comment--question" itemscope itemtype="http://schema.org/UserComments">
	                			<header>
	                				<h3 itemprop="creator" itemscope itemtype="http://schema.org/Person">
	                					<span itemprop="name">Buyer</span>
	                				</h3>
	                				<time itemprop="commentTime" pubdate datetime="2016-15-08T18:01">1 hour ago</time>
	                			</header>
	                			<p itemprop="commentText">
		                			Do you have this one in white?
	                			</p>
	                		</article>
	                		<article class="ml-comment-list__comment ml-comment-list_comment--reply" itemscope itemtype="http://schema.org/UserComments">
	                			<header>
	                				<h3 itemprop="creator" itemscope itemtype="http://schema.org/Person">
	                					<span itemprop="name">Seller</span>
	                				</h3>
	                				<time itemprop="commentTime" pubdate datetime="2016-15-08T18:31">30 min. ago</time>
	                			</header>
	                			<p itemprop="commentText">
		                			No I don't, only have gold
	                			</p>
	                		</article>
	                	</li>
	                	<li>
	                		<article class="ml-comment-list__comment ml-comment-list_comment--question" itemscope itemtype="http://schema.org/UserComments">
	                			<header>
	                				<h3 itemprop="creator" itemscope itemtype="http://schema.org/Person">
	                					<span itemprop="name">Buyer</span>
	                				</h3>
	                				<time itemprop="commentTime" pubdate datetime="2016-15-08T18:01">1 hour ago</time>
	                			</header>
	                			<p itemprop="commentText">
		                			I need five, do you have that quantity?
	                			</p>
	                		</article>
	                		<article class="ml-comment-list__comment ml-comment-list_comment--reply" itemscope itemtype="http://schema.org/UserComments">
	                			<header>
	                				<h3 itemprop="creator" itemscope itemtype="http://schema.org/Person">
	                					<span itemprop="name">Seller</span>
	                				</h3>
	                				<time itemprop="commentTime" pubdate datetime="2016-15-08T18:31">30 min. ago</time>
	                			</header>
	                			<p itemprop="commentText">
		                			Yes I have!
	                			</p>
	                		</article>
	                	</li>
	                </ul>
	            </section>
	            </div>
        	</li>
		</ul>
	</section>
</div>
	<!-- build:[src] ./scripts/ -->
	<script src="../../dist/scripts/main.min.js"></script>
	<!-- /build -->
</body>

</html>
